<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <div th:include="partials/navbar.html :: navbar"></div>
    <div class="container">
        <h1>This is where we edit the post</h1>
        <form th:action="@{/posts/{id}/edit(id=${editPost.id})}" th:method="post" th:object="${editPost}">
            <div class="form-group">
                <label for="title">Title</label>
                <input th:value="${editPost.getTitle()}" type="text" class="form-control" th:field="*{title}" id="title" required>
            </div>
            <div class="mb-3">
                <label for="body">Body</label>
                <textarea class="form-control" id="body" th:field="*{body}" th:text="${editPost.getBody()}" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <form action="/posts">
            <button name="return" type="submit">Show All Posts</button>
        </form>
    </div>



</body>
</html>