<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    <div th:include="partials/navbar.html :: navbar"></div>
    <div class="container-fluid">
        <h2 th:text="${post.title}" class="title"></h2>
        <h4 th:text="${post.body}" class="postBody"></h4>
        Post written by:
        <span th:text="${post.getUser().getEmail()}"></span>
        <form th:action="@{/posts/{id}/edit(id=${post.id})}">
            <button name="edit">Edit</button>
        </form>
        <form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">
            <button name="delete" th:value="${post.id}" type="submit">Delete</button>
        </form>
    </div>
</body>
</html>