<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Guess a number between 1 & 6</h1>
    <form action="" method="post">
        1<input type="radio" name="die" value="1">
        2<input type="radio" name="die" value="2">
        3<input type="radio" name="die" value="3">
        4<input type="radio" name="die" value="4">
        5<input type="radio" name="die" value="5">
        6<input type="radio" name="die" value="6">
        <div>
            <button>Submit</button>
        </div>
    </form>

</body>
</html>